html {
  position: relative !important;
  min-height: 100% !important;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

label {
  font-weight: bold;
}

/* Classes */
.active {
  color: rgba(14, 174, 89, 1);
  font-weight: bold;
}

.delete-nugget {
  color: #cc0000;
  font-size: 0.9em;
}

.footer {
  font-size: 0.8em;
  font-style: italic;
}

.inactive {
  color: rgba(207, 0, 15, 1);
  font-weight: bold;
}

.padBottom {
  margin-bottom: 1em;
}

.padRight {
  margin-right: 0.6em;
}

.padTop {
  margin-top: 1em;
}

.results-keyword-list {
  font-size: 0.8em;
}

.template-logo-url {
  padding: 0.4em;
  border: 1px solid #000000;
  background: #dddddd;
}
