{% from "formhelpers.j2" import render_field %}
{% extends "base.html" %}
{% block title %}
    Category
{% endblock %}
{% block content %}


{% if 'new' in request.path %}
  <form method='POST' action='/categories/new'>
{% else %}
  <form method='POST' action='/categories/{{ category.id }}/edit'>
{% endif %}

<div class='row'>
  <div class='col-12 padTop'>

        <div class='row'>
          <div class='col-12'>
            <h2>{% if 'new' in request.path %}New Category{% else %}{{ category.label }}{% endif %}</h2>
          </div>
        </div>

        <div class='row'>
          <div class='col-12 form-group'>
            <label for='label'>Label:</label>
              {{ render_field(category_form.label, size=50) }}
          </div>
        </div>

        <div class='row'>
          <div class='col-8 form-group'>
            <label for='label'>Status:</label>
            <select name='status'>
              <option value=0{% if not category.deleted %} selected='selected'{% endif %}>Active</option>
              <option value=1{% if category.deleted %} selected='selected'{% endif %}>Inactive</option>
            </select>
          </div>
        </div>


        <div class='row'>
          <div class='col-12 form-group'>
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
          </div>
        </div>


  </div>
</div>
</form>

{% endblock %}
