{% extends "base.html" %}
{% block title %}
    Nuggets
{% endblock %}
{% block content %}

<div class='row padTop padBottom'>
  <div class='col-9'>
    <h1>Your Recent Nuggets</h1>
  </div>
  <div class='col-3 text-right'>
    <strong>Showing 8 of {{ count }} total Nuggets</strong>
  </div>
</div>

<div class='row padTop'>
  <div class='col-12'>

    <table class='table table-hover table-striped'>
    <tbody>
    {% for n in nuggets %}
      <tr>
        <td>
          <h4><a href='/nugget/{{ n._id }}'>{{ n.title_md|safe }}</a></h4>
          <p class='results-keyword-list'>
            <strong>Keywords:</strong>
            {% for k in n.keywords %}
              <a href="/keyword/{{ k.replace(' ', '+')}}">{{ k }}{%- if not loop.last %}, {% endif %}</a>
            {% endfor %}</p>
        </td>
      </tr>
    {% endfor %}
    </tbody>
    </table>

  </div>
</div>

{% endblock %}
