<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Nuggets</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto">
            <li class='nav-item'>
                <a class="nav-link{% if 'nugget' in request.path and 'new' in request.path %} active{% endif %}" href='/nugget/new'>Create Nugget</a>
            </li>
            <li class='nav-item'>
                <a class="nav-link{% if 'random' in request.path %} active{% endif %}" href='/random'>Random</a>
            </li>
        </ul>
        <form method="POST" action="/search" class="form-inline my-2 my-lg-0">
          <input name='searchtext' id='searchtext' class="form-control mr-sm-2" type="search" placeholder="Search by Title, Description, Keyword" aria-label="Search" size=50>
          <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>
  </div>
</nav>
