{% from "formhelpers.j2" import render_field %}
{% extends "base.html" %}
{% block title %}
    Add/Edit Nugget
{% endblock %}
{% block content %}

{% if 'new' in request.path %}
  <form method='POST' action='/nugget/new'>
{% else %}
  <form method='POST' action='/nugget/{{ form.id }}/edit'>
{% endif %}

<div class='row'>
  <div class='col-8 padTop'>

        <div class='row'>
          <div class='col-12'>
            <h2>{% if 'new' in request.path %}New Nugget{% else %}{{ form.title }}{% endif %}</h2>
          </div>
        </div>

        <div class='row'>
          <div class='col-12 form-group'>
            <label for='title'>Title:</label><br />
            <input type='text' name='title' id='title' size=80 value='{{ form.title }}' />
          </div>
        </div>

        <div class='row'>
          <div class='col-12 form-group'>
            <label for='description'>Description:</label><br />
            <textarea name='description' id='description' cols=80 rows=15>{{ form.description }}</textarea>
          </div>
        </div>

        <div class='row'>
          <div class='col-12 form-group'>
            <label for='keywords'>Keywords:</label><br />
            <input type='text' name='keywords' id='keywords' size=80 value='{{ form.keywords }}' />
          </div>
        </div>

        <div class='row'>
          <div class='col-12 form-group'>
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
          </div>
        </div>

  </div>
</div>
</form>

{% endblock %}
